@charset "UTF-8";
/**
 * このサイトはSassを使用しています。
 * このcssを直接編集しないでください。
 */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900|Noto+Serif+JP:400,700,900&subset=japanese");
@import url("//fonts.googleapis.com/css?family=Sawarabi+Mincho");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  list-style-type: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

img {
  vertical-align: top; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*,
::before,
::after {
  box-sizing: border-box !important; }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  height: 100%;
  background: #a9dadb;
  font-family: "Noto Sans JP", "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  color: #000;
  font-size: 30px !important;
  font-size: 4.6875vw !important;
  line-height: 1.8;
  font-weight: 400;
  -webkit-text-size-adjust: 100%; }

h1, h2, h3, h4, h5 {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  line-height: 1.2;
  font-weight: 400; }

a {
  color: #000;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

input,
select,
button {
  border: none; }
  input:focus,
  select:focus,
  button:focus {
    outline: 0;
    border: none; }

input[type=text],
input[type=email],
select,
textarea {
  vertical-align: top;
  font-family: "Noto Sans JP", "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-size: 30px !important;
  font-size: 4.6875vw !important;
  line-height: 1.8; }

input[type=text],
input[type=email],
textarea {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px; }

input[type=radio] {
  width: 1.2em;
  height: 1.2em;
  margin: 0; }

label {
  vertical-align: middle;
  cursor: pointer; }
  label input[type=radio] {
    margin-right: 0.5em; }

.container {
  position: relative;
  width: 87.5%;
  margin: 0 auto; }

main p:not(:first-child) {
  margin-top: .5em; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-small {
  font-size: 20px !important;
  font-size: 3.125vw !important; }

.text-large {
  font-size: 40px !important;
  font-size: 6.25vw !important; }

.title01 {
  margin-bottom: 7%;
  text-align: center; }
  .title01 span {
    position: relative;
    display: inline-block;
    padding: 0 5px;
    font-family: "Sawarabi Mincho", "Noto Serif JP", "游明朝体", "YuMincho", "Yu Mincho M", "游明朝 Medium", "Yu Mincho Medium", "游明朝", "Yu Mincho", "HGS明朝E", serif;
    font-size: 36px !important;
    font-size: 5.625vw !important;
    font-weight: 700; }
    .title01 span::after {
      content: "";
      z-index: -1;
      position: absolute;
      left: 0;
      bottom: 1px;
      width: 100%;
      height: 10px;
      background-color: #fdfa00; }

.btn01 {
  display: block;
  width: 100%;
  padding: 0 6.785%;
  background-color: #fff;
  background-image: url(../img/common/icon-arrow01.svg);
  background-position: 97.5% 50%;
  background-repeat: no-repeat;
  background-size: auto 29.23%;
  border-radius: 7px;
  font-family: "Sawarabi Mincho", "Noto Serif JP", "游明朝体", "YuMincho", "Yu Mincho M", "游明朝 Medium", "Yu Mincho Medium", "游明朝", "Yu Mincho", "HGS明朝E", serif;
  font-size: 28px !important;
  font-size: 4.375vw !important;
  line-height: 2.166;
  font-weight: 700;
  text-align: center; }
  .btn01:hover {
    text-decoration: none; }
  .btn01.green {
    background-color: #029091;
    background-image: url(../img/common/icon-arrow02.svg);
    color: #fff; }
  .btn01.black {
    background-color: #000;
    background-image: url(../img/common/icon-arrow02.svg);
    color: #fff; }

.jquery-modal.blocker {
  padding: 6.25%;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: none; }
.jquery-modal .modal {
  max-width: 100%;
  width: 100%;
  padding: 11.6071428571% 5.3571428571%;
  background: #fff;
  border-radius: 7px;
  box-shadow: none; }
  .jquery-modal .modal p:not(:first-child),
  .jquery-modal .modal figure:not(:first-child) {
    margin-top: .5em; }
  .jquery-modal .modal .map {
    position: relative;
    width: 84%;
    height: 0;
    margin: 0 auto;
    padding-top: 50%; }
    .jquery-modal .modal .map:not(:first-child) {
      margin-top: 1.5em; }
    .jquery-modal .modal .map iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .jquery-modal .modal .close-btn01 {
    margin-top: 20%; }
  .jquery-modal .modal .close-btn02 {
    margin-top: 10%; }
  .jquery-modal .modal a.close-modal {
    top: 0;
    right: 2.8%;
    width: 7.6%;
    height: 0;
    margin-top: 2.8%;
    padding-top: 7.6%;
    background-image: url("../img/common/modal-close.svg"); }

#global-head {
  margin-bottom: 14.062%;
  padding: 15.625% 0 10.468%;
  background-image: url("../img/common/header-bg01.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-position: 50% 0;
  text-align: center; }
  #global-head h1 {
    font-size: 0px !important;
    font-size: 0vw !important; }
  #global-head .keihin h2 {
    font-size: 0px !important;
    font-size: 0vw !important; }
  #global-head .keihin .list {
    width: 36.607%;
    margin: 2.142% auto 0;
    background: rgba(255, 255, 255, 0.3);
    text-align: center; }
    #global-head .keihin .list dl {
      display: inline-block;
      min-width: 73.17%;
      padding: 12.195% 0;
      font-size: 20px !important;
      font-size: 3.125vw !important;
      vertical-align: middle; }
      #global-head .keihin .list dl::after {
        content: " ";
        display: block;
        clear: both; }
      #global-head .keihin .list dl dt {
        clear: both;
        float: left;
        width: 33.333%;
        margin-right: 6.666%;
        line-height: 1.3;
        text-align: center; }
        #global-head .keihin .list dl dt.num01 {
          background: #c93564; }
        #global-head .keihin .list dl dt.num02 {
          background: #43469d; }
        #global-head .keihin .list dl dt.num03 {
          background: #085f36; }
        #global-head .keihin .list dl dt.num04 {
          background: #8b4289; }
        #global-head .keihin .list dl dt:not(:first-of-type) {
          margin-top: 9.333%; }
      #global-head .keihin .list dl dd {
        float: left;
        line-height: 1.3; }
        #global-head .keihin .list dl dd:not(:first-of-type) {
          margin-top: 9.333%; }
  #global-head .btn {
    margin-top: 7.142%; }
  #global-head.small-header {
    padding: 1.562% 0;
    background-image: url("../img/common/header-bg02.jpg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat; }

#global-foot {
  margin-top: 25%;
  padding: 0 0 3.125%;
  background: #934591; }
  #global-foot nav {
    padding: 5.357% 0 8.928%;
    background: #f8e6f6;
    font-size: 30px !important;
    font-size: 4.6875vw !important;
    line-height: 1.6; }
    #global-foot nav ul li {
      border-bottom: 1px solid #000; }
      #global-foot nav ul li a {
        display: block;
        padding: 0 3.928%; }
  #global-foot .privacy {
    margin-top: 3.571%;
    color: #fff;
    font-size: 24px !important;
    font-size: 3.75vw !important;
    line-height: 1.2;
    text-align: center; }
    #global-foot .privacy a {
      color: #fff; }
  #global-foot .copylight {
    display: block;
    margin-top: 1.785%;
    color: #fff;
    font-size: 22px !important;
    font-size: 3.4375vw !important;
    line-height: 1.2;
    text-align: center; }

#page-top {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 10%; }
  #page-top a {
    display: block; }
  #page-top img {
    width: 100%; }

.top #global-head {
  margin-bottom: 0; }
.top .top-content01 {
  margin-top: 7.142%; }
  .top .top-content01 .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .top .top-content01 .menu li {
      width: 28.571%; }
      .top .top-content01 .menu li img {
        width: 100%; }
  .top .top-content01 .btn {
    margin-top: 8.571%; }
.top .top-content02 {
  margin-top: 16.071%; }
  .top .top-content02 .title01 {
    margin-bottom: 0; }
  .top .top-content02 .point-list {
    margin-top: 6.785%;
    padding: 5.357% 7.142%;
    background-color: #fff; }
    .top .top-content02 .point-list li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 4.583% 0;
      border-bottom: 2px dashed #934591; }
      .top .top-content02 .point-list li figure {
        width: 37.5%; }
        .top .top-content02 .point-list li figure img {
          width: 100%; }
      .top .top-content02 .point-list li .point {
        width: 54.166%; }
      .top .top-content02 .point-list li h3 {
        min-height: 36.666%;
        font-size: 28px !important;
        font-size: 4.375vw !important;
        line-height: 1.2;
        font-weight: 700; }
      .top .top-content02 .point-list li p {
        line-height: 1.05; }
        .top .top-content02 .point-list li p.date {
          margin-top: 6.923%;
          font-size: 30px !important;
          font-size: 4.6875vw !important; }
        .top .top-content02 .point-list li p.get {
          margin-top: 7.692%;
          padding-left: 21.153%;
          background-image: url("../img/common/icon-point.svg");
          background-position: 0 50%;
          background-repeat: no-repeat;
          background-size: auto 100%;
          font-size: 40px !important;
          font-size: 6.25vw !important;
          font-weight: 700; }

.challenge-point #global-head {
  margin-bottom: 0;
  padding-bottom: 0; }
  .challenge-point #global-head .sort-nav {
    background: rgba(255, 255, 255, 0.4);
    font-size: 0px !important;
    font-size: 0vw !important; }
    .challenge-point #global-head .sort-nav li {
      padding: 0 0.781%;
      display: inline-block;
      color: #029091;
      font-size: 23px !important;
      font-size: 3.59375vw !important;
      line-height: 2.391;
      font-weight: 700;
      vertical-align: top;
      cursor: pointer; }
      .challenge-point #global-head .sort-nav li:not(:first-child) {
        margin-left: 1.562%; }
.challenge-point .map-btn {
  margin-bottom: 14.062%; }
  .challenge-point .map-btn a {
    display: block;
    background-color: #029091;
    color: #fff;
    font-size: 23px !important;
    font-size: 3.59375vw !important;
    line-height: 3.26;
    font-weight: 700; }
    .challenge-point .map-btn a span {
      display: block;
      width: 87.5%;
      margin: 0 auto;
      background-image: url(../img/common/icon-arrow02.svg);
      background-position: 100% 50%;
      background-repeat: no-repeat;
      background-size: auto 46.666%; }
.challenge-point .shop-list {
  width: 100%;
  margin: 0 auto; }
  .challenge-point .shop-list li.list-item {
    width: 150px;
    padding: 0 5px 15px; }
    .challenge-point .shop-list li.list-item.test {
      display: none; }
  .challenge-point .shop-list li a {
    overflow: hidden;
    display: block;
    background-color: #fff;
    box-shadow: 0 0 8px #b1caca;
    border-radius: 7px; }
    .challenge-point .shop-list li a figure img {
      width: 100%; }
    .challenge-point .shop-list li a h3 {
      padding: 10px 10px 0;
      font-size: 14px;
      font-weight: 700; }
    .challenge-point .shop-list li a p {
      padding: 0 10px 10px;
      font-size: 12px;
      line-height: 1.4; }

.roulette-first form.questionnaire input[type=radio] {
  display: none; }
.roulette-first form.questionnaire input[type="radio"]:checked + label {
  background-color: #029091;
  color: #fff; }
.roulette-first form.questionnaire .btn {
  margin-top: 1em; }
  .roulette-first form.questionnaire .btn input[type="submit"] {
    display: block;
    width: 100%;
    padding: 0 6.785%;
    background-color: #934591;
    border-radius: 7px;
    font-family: "Sawarabi Mincho", "Noto Serif JP", "游明朝体", "YuMincho", "Yu Mincho M", "游明朝 Medium", "Yu Mincho Medium", "游明朝", "Yu Mincho", "HGS明朝E", serif;
    color: #fff;
    font-size: 28px !important;
    font-size: 4.375vw !important;
    line-height: 4.785;
    font-weight: 700;
    text-align: center; }
  .roulette-first form.questionnaire .btn input[type="submit"]:disabled {
    background-color: #f8e6f6;
    cursor: default; }

.roulette .btn,
.roulette-sp .btn {
  margin-top: 7.142%; }
.roulette .hit,
.roulette-sp .hit {
  padding: 21.4285714286% 5.3571428571% 8.9285714286%;
  background-image: url("../img/roulette/hit-bg01.png");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-position: 50% 0;
  text-align: center; }
  .roulette .hit .title,
  .roulette-sp .hit .title {
    color: #ff0000;
    font-size: 40px !important;
    font-size: 6.25vw !important;
    font-weight: 900; }
  .roulette .hit figure,
  .roulette-sp .hit figure {
    width: 54%;
    margin: 0 auto; }
    .roulette .hit figure img,
    .roulette-sp .hit figure img {
      width: 100%; }
  .roulette .hit p,
  .roulette-sp .hit p {
    line-height: 1.333;
    font-weight: 900; }
.roulette .miss,
.roulette-sp .miss {
  padding: 16.9642857143% 5.3571428571% 8.9285714286%;
  background-image: url("../img/roulette/miss-bg01.png");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-position: 50% 0;
  text-align: center; }
  .roulette .miss .title,
  .roulette-sp .miss .title {
    color: #fff;
    font-size: 40px !important;
    font-size: 6.25vw !important;
    font-weight: 900;
    text-shadow: #000 2px 0px,  #000 -2px 0px, #000 0px -2px, #000 0px 2px, #000 2px 2px , #000 -2px 2px, #000 2px -2px, #000 -2px -2px, #000 1px 2px,  #000 -1px 2px, #000 1px -2px, #000 -1px -2px, #000 2px 1px,  #000 -2px 1px, #000 2px -1px, #000 -2px -1px; }
  .roulette .miss p,
  .roulette-sp .miss p {
    margin-top: 10.7142857143% !important;
    line-height: 1.333;
    font-weight: 900; }
