@charset "utf-8";

// top
.top {
	#global-head {
		margin-bottom: 0;
	}
	.top-content01 {
		margin-top: 7.142%;
		.menu {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: nowrap;
					flex-wrap: nowrap;
			-webkit-box-pack: justify;
				 -ms-flex-pack: justify;
			 justify-content: space-between;
			li {
				width: 28.571%;
				img {
					width: 100%;
				}
			}
		}
		.btn {
			margin-top: 8.571%;
		}
	}

	.top-content02 {
		margin-top: 16.071%;
		.title01 {
			margin-bottom: 0;
		}
		.point-list {
			margin-top: 6.785%;
			padding: 5.357% 7.142%;
			background-color: #fff;
			li {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: nowrap;
						flex-wrap: nowrap;
				-webkit-box-pack: justify;
					 -ms-flex-pack: justify;
				 justify-content: space-between;
				padding: 4.583% 0;
				border-bottom: 2px dashed #934591;
				figure {
					width: 37.5%;
					img {
						width: 100%;
					}
				}
				.point {
					width: 54.166%;
				}
				h3 {
					min-height: 36.666%;
					@include fontsize(28);
					line-height: 1.2;
					font-weight: 700;
				}
				p {
					line-height: 1.05;
					&.date {
						margin-top: 6.923%;
						@include fontsize(30);
					}
					&.get {
						margin-top: 7.692%;
						padding-left: 21.153%;
						background-image: url("../img/common/icon-point.svg");
						background-position: 0 50%;
						background-repeat: no-repeat;
						background-size: auto 100%;
						@include fontsize(40);
						font-weight: 700;
					}
				}
			}
		}
	}
}

// challenge_point
.challenge-point {
	#global-head {
		margin-bottom: 0;
		padding-bottom: 0;
		.sort-nav {
			background: rgba(#fff, .4);
			@include fontsize(0);
			li {
				padding: 0 0.781%;
				display: inline-block;
				color: #029091;
				@include fontsize(23);
				line-height: 2.391;
				font-weight: 700;
				vertical-align: top;
				cursor: pointer;
				&:not(:first-child) {
					margin-left: 1.562%;
				}
			}
		}
	}
	.map-btn {
		margin-bottom: 14.062%;
		a {
			display: block;
			background-color: #029091;
			color: #fff;
			@include fontsize(23);
			line-height: 3.26;
			font-weight: 700;
			span {
				display: block;
				width: $container_width / $base_body_width * 100%;
				margin: 0 auto;
				background-image: url(../img/common/icon-arrow02.svg);
				background-position: 100% 50%;
				background-repeat: no-repeat;
				background-size: auto 46.666%;
			}
		}
	}
	.shop-list {
		width: 100%;
		margin: 0 auto;
		li {
			&.list-item {
				width: 150px;
				padding: 0 5px 15px;
				&.test {
					display: none;
				}
			}
			a {
				overflow: hidden;
				display: block;
				background-color: #fff;
				box-shadow: 0 0 8px #b1caca;
				border-radius: 7px;
				figure {
					img {
						width: 100%;
					}
				}
				h3 {
					padding: 10px 10px 0;
					font-size: 14px;
					font-weight: 700;
				}
				p {
					padding: 0 10px 10px;
					font-size: 12px;
					line-height: 1.4;
				}
			}
		}
	}
}

// roulette
.roulette-first {
	form.questionnaire {
		input[type=radio] {
			display: none;
		}
		input[type="radio"]:checked + label {
			background-color: #029091;
			color: #fff;
		}
		.btn {
			margin-top: 1em;
			input[type="submit"] {
				display: block;
				width: 100%;
				padding: 0 6.785%;
				background-color: #934591;
				border-radius: 7px;
				font-family: $font_sawarabi_mincho;
				color: #fff;
				@include fontsize(28);
				line-height: 4.785;
				font-weight: 700;
				text-align: center;
			}
			input[type="submit"]:disabled {
				background-color: #f8e6f6;
				cursor: default;
			}
		}
	}
}

.roulette,
.roulette-sp {
	.btn {
		margin-top: 7.142%;
	}
	.hit {
    padding: (120px / $container_width * 100%) (30px / $container_width * 100%) (50px / $container_width * 100%);
		@include bg_cover("../img/roulette/hit-bg01.png");
		background-position: 50% 0;
		text-align: center;
		.title {
			color: #ff0000;
			@include fontsize(40);
			font-weight: 900;
		}
		figure {
			width: 54%;
			margin: 0 auto;
			img {
				width: 100%;
			}
		}
		p {
			line-height: 1.333;
			font-weight: 900;
		}
	}
	.miss {
    padding: (95px / $container_width * 100%) (30px / $container_width * 100%) (50px / $container_width * 100%);
		@include bg_cover("../img/roulette/miss-bg01.png");
		background-position: 50% 0;
		text-align: center;
		.title {
			color: #fff;
			@include fontsize(40);
			font-weight: 900;
			text-shadow: #000 2px 0px,  #000 -2px 0px,
									 #000 0px -2px, #000 0px 2px,
									 #000 2px 2px , #000 -2px 2px,
									 #000 2px -2px, #000 -2px -2px,
									 #000 1px 2px,  #000 -1px 2px,
									 #000 1px -2px, #000 -1px -2px,
									 #000 2px 1px,  #000 -2px 1px,
									 #000 2px -1px, #000 -2px -1px;
		}
		p {
			margin-top: (60px / $container_width * 100%) !important;
			line-height: 1.333;
			font-weight: 900;
		}
	}
}
