@charset "utf-8";

// header
#global-head {
	margin-bottom: 14.062%;
	padding: 15.625% 0 10.468%;
	@include bg_cover("../img/common/header-bg01.jpg");
	background-position: 50% 0;
	text-align: center;
	h1 {
		@include fontsize(0);
	}
	.keihin {
		h2 {
			@include fontsize(0);
		}
		.list {
			width: 36.607%; // 205px
			margin: 2.142% auto 0;
			background: rgba(#fff, .3);
			text-align: center;
			dl {
				@include clearfix;
				display: inline-block;
				min-width: 73.17%;
				padding: 12.195% 0;
				@include fontsize(20);
				vertical-align: middle;
				dt {
					clear: both;
					float: left;
					width: 33.333%;
					margin-right: 6.666%;
					line-height: 1.3;
					text-align: center;
					&.num01 {background: #c93564;}
					&.num02 {background: #43469d;}
					&.num03 {background: #085f36;}
					&.num04 {background: #8b4289;}
					&:not(:first-of-type) {
						margin-top: 9.333%;
					}
				}
				dd {
					float: left;
					line-height: 1.3;
					&:not(:first-of-type) {
						margin-top: 9.333%;
					}
				}
			}
		}
	}
	.btn {
		margin-top: 7.142%;
	}
	&.small-header {
		padding: 1.562% 0;
		@include bg_cover("../img/common/header-bg02.jpg");
	}
}
