@charset "utf-8";

// 1.title
// 2.btn
// 3.modal


// title
.title01 {
	margin-bottom: 7%;
	text-align: center;
	span {
		position: relative;
		display: inline-block;
		padding: 0 5px;
		font-family: $font_sawarabi_mincho;
		@include fontsize(36);
		font-weight: 700;
		&::after {
			content: "";
			z-index: -1;
			position: absolute;
			left: 0;
			bottom: 1px;
			width: 100%;
			height: 10px;
			background-color: #fdfa00;
		}
	}
}


// button
.btn01 {
	display: block;
	width: 100%;
	padding: 0 6.785%;
	background-color: #fff;
	background-image: url(../img/common/icon-arrow01.svg);
	background-position: 97.5% 50%;
	background-repeat: no-repeat;
	background-size: auto 29.23%;
	border-radius: 7px;
	font-family: $font_sawarabi_mincho;
	@include fontsize(28);
	line-height: 2.166;
	font-weight: 700;
	text-align: center;
	&:hover {
		text-decoration: none;
	}
	&.green {
		background-color: #029091;
		background-image: url(../img/common/icon-arrow02.svg);
		color: #fff;
	}
	&.black {
		background-color: #000;
		background-image: url(../img/common/icon-arrow02.svg);
		color: #fff;
	}
}


// modal
.jquery-modal {
	&.blocker {
		padding: (100 - ($container_width / $base_body_width * 100%)) / 2;
		background: rgba(0,0,0, .3);
		box-shadow: none;
	}
	.modal {
    max-width: 100%;
    width: 100%;
    padding: (65px / $container_width * 100%) (30px / $container_width * 100%);
    background: #fff;
		border-radius: 7px;
    box-shadow: none;
		p,
		figure {
			&:not(:first-child) {
				margin-top: .5em;
			}
		}
		.map {
			position: relative;
			width: 84%;
			height: 0;
			margin: 0 auto;
			padding-top: 50%;
			&:not(:first-child) {
				margin-top: 1.5em;
			}
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.close-btn01 {
			margin-top: 20%;
		}
		.close-btn02 {
			margin-top: 10%;
		}
		a.close-modal {
			top: 0;
			right: 2.8%;
			width: 7.6%;
			height: 0;
			margin-top: 2.8%;
			padding-top: 7.6%;
			background-image: url("../img/common/modal-close.svg");
		}
	}
}
