@charset "utf-8";

// コンパイル後css用注意書き
/**
 * このサイトはSassを使用しています。
 * このcssを直接編集しないでください。
 */

@import "base/reset";

@import "base/font";

// base
$font_size_mode: 'vw'; // px or vw
$base_font_family: $font_web_gothic !default;
$base_font_size: 30; // px
$base_line_height: 1.8;
$base_font_weight: 400; // 400(normal), 700(bold), 900(black)

// color
$color_body_bg: #a9dadb;
$color_text: #000;
$color_link: $color_text;
$color_link_hover: $color_text;

// container
$base_body_width: 640px;
$container_width: 560px;

@import "base/mixin";

@import "base/common";

@import "parts";
@import "header";
@import "footer";

@import "custom";
