@charset "utf-8";

// 基本設定
*,
::before,
::after {
  box-sizing: border-box !important;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  background: $color_body_bg;
  font-family: $base_font_family;
  color: $color_text;
  @include fontsize($base_font_size);
  line-height: $base_line_height;
  font-weight: $base_font_weight;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5 {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	line-height: 1.2;
	font-weight: 400;
}

a {
  color: $color_link;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
select,
button {
	border: none;
  &:focus {
    outline: 0;
    border: none;
  }
}
input[type=text],
input[type=email],
select,
textarea {
	vertical-align: top;
	font-family: $base_font_family;
	@include fontsize($base_font_size);
  line-height: $base_line_height;
}
input[type=text],
input[type=email],
textarea {
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type=radio] {
	width: 1.2em;
	height: 1.2em;
	margin: 0;
}
label {
	vertical-align: middle;
	cursor: pointer;
	input[type=radio] {
		margin-right: 0.5em;
	}
}

.container {
	position: relative;
	width: $container_width / $base_body_width * 100%;
	margin: 0 auto;
}

main {
	p {
		&:not(:first-child) {
			margin-top: .5em;
		}
	}
}

.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

.text-small {
  @include fontsize($base_font_size - 10);
}
.text-large {
  @include fontsize($base_font_size + 10);
}
